<!-- <app-menu></app-menu> -->

<div class="container">
  <button type="button" class="btn btn-outline-primary m-3"><a href="/new">New <i class="fas fa-plus"></i></a></button>
  <button type="button" class="btn btn-outline-success m-3" (click)="exportexcel()">Export <i class="fas fa-download"></i></button>

  <div class="row">
    <div class="col-9">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter shared Key" formControlName="sharedKey">
          <button class="btn btn-success" type="submit">Search <i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-info">Advanced search <i class="fas fa-search"></i></button>
    </div>
  </div>
  <br><br>
  <h2>Clients</h2>
  <table class="table table-hover" id="clients">
    <thead>
      <tr>
        <th>Shared Key</th>
        <th>Business ID</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Data Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let super of client">
        <td>{{super.sharedKey}}</td>
        <td>{{super.businessId}}</td>
        <td>{{super.email}}</td>
        <td>{{super.phone}}</td>
        <td>{{super.startDate}}</td>
        <td><button type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-pen"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>




